<h1>Editing org</h1>

<% form_for(@organization) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @organization %> |
<%= link_to 'Back', organizations_path %>
